div{
    width: 200px;
    height: 200px;
    background: brown;
    border-radius: 70px;
    transition: background 3s;
}
p{
    text-align: center;
    margin-top: 40px;
    align-items: center;
}
div:hover{
    background:hotpink ;
}