#translate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 139, 231);
    padding: 10px;
    transform: translate(100px,50px);
}
#rotate{
     width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 139, 231);
    padding: 10px;
    transform: rotate(180deg);
    margin-left: 500px;
}
#scale{
     width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 139, 231);
    padding: 10px;
    transform: scale(2,2);
    margin-left: 100px;
}
#skew{
     width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 93, 204);
    padding: 10px;
    transform: skew(-40deg);
    margin-left: 100px;
}
#rotateX{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 93, 204);
    padding: 10px;
    transform: rotateX(130deg);
    margin-left: 100px;
}